//IMPORT PARTIALS
@import 'variables';

//REMOVE DEFAULTS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

//SELECTION
::selection {
    background: $yel;
}

::-moz-selection {
    background: $yel;
}

//TEXT
body,
p {
    @include fontProperties($primary, $bodyText, $reg, $dGrey);
}

//HEADINGS
h1 {
    @include fontProperties($secondary, $heroHead, $light, $lGreen);
    letter-spacing: $spaced;
    margin-bottom: 5px;
}

h2 {
    @include fontProperties($primary, $heroText, $light, $dGrey);
}

h3 {
    @include fontProperties($secondary, $sectionHead, $light, $lGreen);
    letter-spacing: $spaced;
}

h4,
h5,
h6 {
    font-family: $primary;
    font-weight: $bold;
}

h4 {
    font-size: $elementHead;
    color: $dGrey;
    margin-bottom: 15px;
}

h5 {
    font-size: $bodyHead;
    color: $dGrey;
    margin-bottom: 5px;
}

h6 {
    font-size: $elementHead;
    color: $whi;
    margin-bottom: 10px;
}

@media screen and (max-width: 860px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 580px) {

    h3 {
        font-size: 40px;
    }
}

//ICONS
.fab,
.fas {
    font-size: 3em;
}

//LINKS
a {
    color: $lGreen;
}

a:hover {
    color: $dGreen;
}

//IMG
img {
    width: 100%;
    height: auto;
    margin: 5px 0;
}
