//IMPORT PARTIALS
@import 'variables';

//***********
//MAIN LAYOUT
//***********

//WRAPPING CONTAINERS
#mainContent {
    position: relative;
    width: 100%;
    height: auto;
    margin: $mainMargin;
}

#bodyContent {
    max-width: $mainWidth;
    margin: $mainMargin;
}

.bodyContent {
    max-width: $mainWidth;
    margin: $mainMargin;
}

@media screen and (max-width: 1200px) {

    #bodyContent {
        @include padFlex ($splitPad, $splitPad);
    }
    .bodyContent {
        @include padFlex ($splitPad, $splitPad);
    }
}

@media screen and (max-width: 580px) {

    .fullscreen {
        background-image: none;
        height: auto;
        width: 100%;
    }

    #bodyContent {
        margin-top: 460px;
    }
}

//********
//SECTIONS
//********

//SECTION HEADINGS
.mainSectionHead {
    height: 70px;
    text-align: center;
    margin: $fourtyMargin;
}

//WRAPPING CONTAINERS
.flexWrap {
    display: flex;
}

.elementWrap {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

//DIV CONTAINERS
.element {
    width: $split;
}

.elementLeft {
    width: $split;
    margin-right: $splitMargin;
}

@media screen and (max-width: 800px) {
    .element,
    .elementLeft,
    .elementWrap {
        width: 100%;
        display: block;
    }

    .flexWrap {
        display: block;
    }
}

//HORIZONTAL SECTION BREAKERS
#aboutSection,
#featuresSection,
#eventsSection,
#cafesSection,
#contactSection {
    height: 40px;
    width: 100%;
    background-color: $lGreen;
    border-top: $yelBord;
    margin-top: 15px;
}

.hLine {
    margin-top: 15px;
    opacity: 0.4;
    color: $lGrey;
    border-bottom: $lGreyBord;
}

//MARGINS
.boldLink {
    margin: 10px 0;
}

#noMargin {
    margin-top: 0;
}

.marginTop {
    margin-top: 10px;
}

#noMarginHidden {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 580px) {

    #noMarginHidden {
        display: block;
        visibility: visible;
        margin-bottom: 10px;
    }
    #noMargin {
        display: none;
        visibility: hidden;
    }
}
