//IMPORT PARTIALS
@import 'variables';

TRANSITIONS a,
i,
li,
div,
button,
input {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

//BACK TO TOP BUTTON
#backTop {
    position: fixed;
    top: 160px;
    right: 30px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    z-index: 100;
}

.backTop {
    opacity: 0.0;
}

#backTop:after {
    clear: right;
}

#backTop i {
    color: $lGreen;
}

#backTop i:hover {
    color: $yel;
}

.showBackTop {
    opacity: 1.0;
}

@media screen and (max-width: 860px) {

    #backTop {
        margin-right: 20px;
        top: 230px;
    }
}

@media screen and (max-width: 580px) {

    #backTop {
        margin-right: 10px;
        top: 65px;
    }

    #backTop i {
        font-size: 2.5em;
    }
}

//DOWNLOAD MAP BUTTON
.alignLeft {
    float: left;
}

.alignLeft:after {
    clear: left;
}

.downloadMap {
    @include mapBtnSize ($mPad, $mWidth, $mHeight);
    margin: $twentyMargin;
    text-align: center;
    color: $whi;
    background-color: $lGreen;
    font-size: $smallText;
}

.downloadMap:hover {
    background-color: $whi;
    color: $lGreen;
}

.downloadMapDark {
    @include mapBtnSize ($mPad, $mWidth, $mHeight);
    margin: $twentyMargin;
    text-align: center;
    color: $whi;
    background-color: $dGreen;
    font-size: $smallText;
}

.downloadMapDark:hover {
    background-color: $lGreen;
}

@media screen and (max-width: 400px) {

    .downloadMap {
        display: none;
        visibility: hidden;
    }
    .downloadMapDark {
        display: none;
        visibility: hidden;
    }
}