//COLORS
$lGreen: #3fa535;
$dGreen: #395a25;
$dGreenA: rgba(57, 90, 37, 0.9);
$lGrey: #cccccc;
$dGrey: #353635;
$yel: #ffb900;
$whi: #fff;

//TEXT
$primary: 'Open Sans', sans-serif;
$secondary: 'Playball', cursive;

$spaced: 0.5px;

$smallText: 15px;
$bodyText: 16px;
$heroText: 25px;

$bodyHead: 17px;
$elementHead: 20px;
$sectionHead: 50px;
$heroHead: 65px;

$light: 300;
$reg: 400;
$bold: 700;

//BORDERS
$yelBord: solid 12px #ffb900;
$lGreyBord: 1px solid #cccccc;

//MAP BUTTON
$mPad: 10px;
$mWidth: 300px;
$mHeight: 45px;

//LAYOUTS
$split: 47.5%;
$splitMargin: 5%;
$splitMarginHalf: 2.5%;
$formSplit: 67.5%;

$mainWidth: 1100px;
$navWidth: 1400px;

$mainMargin: 0 auto;
$fiveMargin: 5px auto;
$twentyMargin: 20px auto;
$fourtyMargin: 20px auto 40px auto;

$thirtyPad: 30px 0;
$splitPad: 2.5%;

//FLEX
$flex: flex;
$jcFlex: center;
$aiFlex: center;

//MIXINS
@mixin fontProperties ($family: null, $size: null, $weight: null, $color: null) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin mapBtnSize ($mPad: null, $mWidth: null, $mHeight: null) {
    padding: $mPad;
    width: $mWidth;
    height: $mHeight;
}

@mixin centerFlex ($flexDisplay: null, $flexJustify: null, $flexAlign: null) {
    display: $flexDisplay;
    justify-content: $flexJustify;
    align-items: $flexAlign;
}

@mixin marginFlex ($mfLeft: null, $mfRight: null) {
    margin-left: $mfLeft;
    margin-right: $mfRight;
}

@mixin padFlex ($pfLeft: null, $pfRight: null) {
    padding-left: $pfLeft;
    padding-right: $pfRight;
}